<div class="container">
    

    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2>Login</h2>
    
            <alert></alert>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="email">email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Un email est requis</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Le mot de passe est requis</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Se connecter</button>
                  
                </div>
            </form>
            <button class="btn btn-primary" (click)="createAdmin()">Create Admin</button>
            </div>
        </div>    
</div>

