<div class="ContainerCenter">  

 <div class="panel panel-default">
  
  <div class="panel-heading"><h4>Utilisateurs</h4></div>

   
  <div class="list-group">
    <button class="list-group-item"  *ngFor="let user of admins" (click)="onModify(user)">{{user.email}}</button>
    <button class="list-group-item" *ngFor="let user of managers" (click)="onModify(user)">{{user.email}}</button>
    <button class="list-group-item" *ngFor="let user of users" (click)="onModify(user)">{{user.email}}</button>

  </div>
</div>

