<div class="container">
    <table class="table table-bordered table-condensed">

        <tr>
            <th class="text-center">{{firstLine.contract}}</th>
            <th class="text-center">{{firstLine.clientName}}</th>
            <th class="text-center">{{firstLine.projectName}}</th>
            <th class="text-center">Jours ouvrés</th>
            <th class="text-center" *ngFor="let day of firstLine.days">{{day}}</th>
        </tr>

        <tr *ngFor="let timeLine of timeLines">
            <td>{{timeLine.line.contract}}</td>
            <td>{{timeLine.line.clientName}}</td>
            <td>{{timeLine.line.projectName}}</td>
            <td class="text-center">{{timeLine.line.workedDays}}</td>
            <td class="text-center" *ngFor="let day of timeLine.line.days">{{day}}</td>
            <td><button class= "btn btn-sm btn-danger" (click)="timeLineSelected=timeLine" (click)="deleteTimeLine()">
                    del
                </button>
            </td>
        </tr>


    </table>
    
    <new-line-form></new-line-form>
</div>
   